# .gitignore
## .NET
bin/
obj/
*.user
*.suo
*.cache
*.userprefs
*.vs/
.vscode/
*.DotSettings.user
*.nupkg
**/packages/

## Secrets
appsettings.*.json
!appsettings.json
!appsettings.Development.json
secrets.json

## OS
.DS_Store
Thumbs.db

## IDE
.idea/
*.swp
*.swo